body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.container {
  width: 100%;
  max-width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.rectangle {
  width: 80%;
  height: 100%;
  position: relative;
}

.rectangle-content {
  background: linear-gradient(
    to bottom,
    rgb(5, 62, 33) 0px,
    rgb(5, 62, 33) 50px,
    rgb(66, 185, 33) 50px,
    rgb(66, 185, 33) 100%
  );
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 4px solid #000;
  box-sizing: border-box;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #e74c3c;
  transform: rotate(45deg);
  position: absolute;
  top: 180px;
  left: 30px;
  border: 4px solid #000;
  box-sizing: border-box;
}

.square2 {
  width: 100px;
  height: 100px;
  background-color: #e74c3c;
  transform: rotate(45deg);
  position: absolute;
  top: 75px;
  left: 130px;
  border: 4px solid #000;
  box-sizing: border-box;
}

.rec1 {
  width: 130px;
  height: 20px;
  background-color: rgb(17, 17, 233);
  position: absolute;
  top: 30%;
  left: 28%;
  border: 4px solid #000;
  box-sizing: border-box;
}

.rec2 {
  width: 130px;
  height: 20px;
  background-color: rgb(17, 17, 233);
  position: absolute;
  top: 40%;
  left: 28%;
  border: 4px solid #000;
  box-sizing: border-box;
}

.circle {
  width: 100px;
  height: 100px;
  display: inline-block;
  justify-content: center;
  background-color: rgb(182, 224, 210);
  align-items: center;
  position: absolute;
  border-radius: 50%;
  top: 30%;
  left: 48%;
  border: 4px solid #000;
  box-sizing: border-box;
}

.bed {
  width: 200px;
  height: 480px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 20%;
  right: 1%;
  border: 4px solid #000;
  box-sizing: border-box;
}

.text {
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 583px) {
  .container {
    padding: 20px;
  }
  .rectangle {
    padding: 10px;
  }
}
@media screen and (min-width: 583px) and (max-width: 900px) {
  .container {
    padding: 20px;
  }
  .rectangle {
    padding: 10px;
  }

  .rec1 {
    position: absolute;
    top: 80%;
    left: 1%;
  }

  .rec2 {
    position: absolute;
    top: 90%;
    left: 1%;
  }

  .circle {
    position: absolute;
    top: 80%;
    left: 30%;
  }

  .bed {
    background-color: rgb(126, 59, 59);
  }
}

@media screen and (min-width: 901px) {
  .container {
    padding: 20px;
  }
  .rectangle {
    padding: 10px;
  }
}
